In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
#program to read json file and to convert it to a Dataframe
#first print the name of newspaper sites

In [4]:
fname = '../scrapper/scraped_articles.json'
with open(fname) as json_data:
    d = json.load(json_data)
for i, site in enumerate((list(d['newspapers'])[:])):
    print(i,site)

0 newyorktimes_business
1 newyorktimes_science
2 newyorktimes_technology
3 cnbc_top_news
4 cnbc_investing
5 entrepreneur_latest
6 entrepreneur_marketing
7 fivethirtyeight_science
8 fivethirtyeight_economics
9 theguardian
10 washington_post
11 americanflavor
12 bb4sp
13 beforeitsnews
14 clashdaily
15 conservativedailypost
16 dailybuzzlive
17 corporatedispatch
18 dailysurge
19 democraticunderground
20 en-volve
21 newspunch
22 usasupreme

In [5]:
for i, site in enumerate((list(d['newspapers']))):
	articles = list(d['newspapers'][site]['articles'])
	if i==0:
		df = pd.DataFrame.from_dict(articles)
	else:
		new_df = pd.DataFrame.from_dict(articles)
		df = pd.concat([df, new_df], ignore_index = True)
df

,title,text,link,author
0,"A Collapse That Wiped Out 5 Years of Growth, W...","“Not only have we plateaued, but we may be los...",https://www.nytimes.com/2020/07/30/business/ec...,[Ben Casselman]
1,"Grilled by Lawmakers, Big Tech Turns Up the Ga...","“I don’t know the specifics of that situation,...",https://www.nytimes.com/2020/07/30/technology/...,[Kevin Roose]
2,How Pimco’s Cayman-Based Hedge Fund Can Profit...,WASHINGTON — Pacific Investment Management Com...,https://www.nytimes.com/2020/07/30/business/ec...,[Jeanna Smialek]
3,Big Tech Earnings Surge as Economy Slumps,"Live Updated July 30, 2020, 8:22 p.m. ET July ...",https://www.nytimes.com/live/2020/07/30/busine...,"[Mike Isaac, Karen Weise, Daisuke Wakabayashi,..."
4,‘This Is a New Phase’: Europe Shifts Tactics t...,LONDON — European Union leaders are pursuing a...,https://www.nytimes.com/2020/07/30/technology/...,[Adam Satariano]
...,...,...,...,...
799,BREAKING! This Revolutionary Cancer-Killing Tr...,This is the future of medicine. Novartis Pharm...,https://www.usasupreme.com/breaking-revolution...,"[Alex D., Alex D Is A Conservative Journalist,..."
800,This Magic Mushroom Compound Will Help Treat D...,Science is definitely amazing!\n\nNature is ab...,https://www.usasupreme.com/magic-mushroom-comp...,"[Natalie D., Natalie D. Is An American Conserv..."
801,This Magic Mushroom Compound Will Help Treat D...,Science is definitely amazing!\n\nNature is ab...,https://www.usasupreme.com/magic-mushroom-comp...,"[Natalie D., Natalie D. Is An American Conserv..."
802,Trump Appoint Hollywood Legend To Be The Head ...,Presiden Trump made serious changes in the Whi...,https://www.usasupreme.com/trump-appoint-holly...,"[Alex D., Alex D Is A Conservative Journalist,..."
803,Trump Appoint Hollywood Legend To Be The Head ...,Presiden Trump made serious changes in the Whi...,https://www.usasupreme.com/trump-appoint-holly...,"[Alex D., Alex D Is A Conservative Journalist,..."

In [8]:
df.to_pickle('/home/yogibaba/Desktop/ivi/final project/savedFiles/dirty_df.pkl')

In [10]:
# list of spam sites
spam = list(d['newspapers'])[-12:]

In [11]:
# create a column for the label of the article, a label of 0 is ham, a label of 1 is spam
df['label'] = 0

In [12]:
for i, site in enumerate(spam):
    df.loc[df['link'].str.contains('{}'.format(site)), 'label'] = 1

In [13]:
# 463 non spam articles, 168 spam articles
df[['title', 'label']].groupby('label').agg('count')

       title
label
0        590
1        214

In [20]:
# python module for cleaning!
%run ../data_cleaning/cleaning_helper.py

In [21]:
finaldf = df.copy()

In [22]:
# function imported from python module

In [23]:
finaldf = clean_column(finaldf, 'title', 'clean_title')

In [24]:
finaldf = clean_column(finaldf, 'text', 'clean_text')

In [25]:
finaldf.head()

,title,text,link,author,label,clean_title,clean_text
0,"A Collapse That Wiped Out 5 Years of Growth, W...","“Not only have we plateaued, but we may be los...",https://www.nytimes.com/2020/07/30/business/ec...,[Ben Casselman],0,collapse wiped years growth bounce sight,plateaued may losing ground said diane swonk ...
1,"Grilled by Lawmakers, Big Tech Turns Up the Ga...","“I don’t know the specifics of that situation,...",https://www.nytimes.com/2020/07/30/technology/...,[Kevin Roose],0,grilled lawmakers big tech turns gaslight,know specifics situation mr bezos replied ano...
2,How Pimco’s Cayman-Based Hedge Fund Can Profit...,WASHINGTON — Pacific Investment Management Com...,https://www.nytimes.com/2020/07/30/business/ec...,[Jeanna Smialek],0,pimco cayman based hedge fund profit fed rescue,washington pacific investment management comp...
3,Big Tech Earnings Surge as Economy Slumps,"Live Updated July 30, 2020, 8:22 p.m. ET July ...",https://www.nytimes.com/live/2020/07/30/busine...,"[Mike Isaac, Karen Weise, Daisuke Wakabayashi,...",0,big tech earnings surge economy slumps,live updated july p et july p et big tech ear...
4,‘This Is a New Phase’: Europe Shifts Tactics t...,LONDON — European Union leaders are pursuing a...,https://www.nytimes.com/2020/07/30/technology/...,[Adam Satariano],0,new phase europe shifts tactics limit tech power,london european union leaders pursuing new la...

In [26]:
finaldf.to_pickle('/home/yogibaba/Desktop/ivi/final project/savedFiles/cleaned_df.pkl')